@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Bellefair&display=swap');

body {
    margin: 0;
    background-image: url(/images/background-home-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: barlow;
    font-size: 1.3rem;
}

.logo {
    margin: 2em;
}


.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-navbar {
    display: flex;  
    gap: 1.5em;
    list-style: none;
    color: white;
    background-color: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(2em);
 
    
}


.number-navbar {
    font-weight: 700;
    margin-right: 1em;
}