@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Bellefair&display=swap');

body {
    margin: 0;
    background-image: url(/images/background-home-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: barlow;
}


.header-flex {
    display: flex;
    justify-content: space-between;
}

.flex-navbar {
    display: flex;  
    gap: 1em;
    list-style: none;
    color: white;
}